# Results BA Network Explosive Percolation

In [4]:
import pandas as pd

In [6]:
df = pd.DataFrame(index=[2,3,4,5,6,7,8,9,10], columns=['tc', 'one_by_nu', 'alpha_by_nu', 'beta_by_nu', 'gamma_by_nu'], dtype=float)
# df.columns=['tc', 'one_by_nu', 'alpha_by_nu', 'beta_by_nu', 'gamma_by_nu', 'nu', 'alpha', 'beta', 'gamma']

In [7]:
df.fillna(0.0, inplace=True)

In [8]:
name='tc'
M=2
df[name][M]

0.0

### $M=2$ Digonto vai

In [9]:
tc=0.7 # not exactly 
nu=1.946 
alpha=0.987 
beta=0.090 
gamma=0.884

In [13]:
alpha/nu

0.5071942446043165

### $M=2$

In [12]:
M=2

df['tc'][M] = 0.72775

df['tc'][M] = 0.72725 # susceptibility collapse
df['tc'][M] = 0.72727 # specific heat collapse

df['one_by_nu'][M] = 0.513874614594039 # Digonto vai exponent is same it seems. but recheck

# y scaling exponents are different because of single convolution. but Digonto vai did 4 times convolution
df['gamma_by_nu'][M] = 0.4682830896280964 # better collapse than digonto vai exponent
df['beta_by_nu'][M] = 0.06224871531346351 # better collapse in bigger range
df['alpha_by_nu'][M] = 0.514096250213949 #

### $M=3$

In [11]:
df

         tc  one_by_nu  alpha_by_nu  beta_by_nu  gamma_by_nu
2   0.72727   0.513875     0.514096    0.062249     0.468283
3   0.00000   0.513875     0.514096    0.062249     0.468283
4   0.00000   0.513875     0.514096    0.062249     0.468283
5   0.00000   0.513875     0.514096    0.062249     0.468283
6   0.00000   0.513875     0.514096    0.062249     0.468283
7   0.00000   0.513875     0.514096    0.062249     0.468283
8   0.00000   0.513875     0.514096    0.062249     0.468283
9   0.00000   0.513875     0.514096    0.062249     0.468283
10  0.00000   0.513875     0.514096    0.062249     0.468283